<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926800445271-olfnni9js86go8ovcomk3ocbini84fp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926800445271-olfnni9js86go8ovcomk3ocbini84fp5</string>
	<key>API_KEY</key>
	<string>AIzaSyCt4DCNbFSp_Ru5eOfEe0FpOxwi_wupwzM</string>
	<key>GCM_SENDER_ID</key>
	<string>926800445271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.kentaro.shibayama.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-16c8f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-16c8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926800445271:ios:1d67e3d40fd5d747fa8812</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-16c8f.firebaseio.com</string>
</dict>
</plist>